body {
  background-color: #f8f9fa;
}

.weather-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.grid-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.tab-content {
  min-height: 50vh;
  position: relative;
}

.weather-icon {
  font-size: 64px;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
}

.location {
  font-size: 24px;
  font-weight: bold;
}

.description {
  font-size: 18px;
  color: #6c757d;
}

.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
}

.loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

@keyframes scale {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}

.suggestion-option {
  padding: 0.5rem;
  background-color: red;
  cursor: pointer;
}

.suggestion-option:hover {
  background-color: lightgray;
}

.suggestion-option:focus {
  background-color: lightgray;
  outline: none;
}

.list {
  position: absolute;
  background: #ccc;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #888;
  margin-top: 10px;
  z-index: 3;
}

.list::before {
  position: absolute;
  top: -10px;
  left: 5px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
}

.list .item {
  cursor: pointer;
  transition: 0.125s ease-in-out;
}

.list .item:hover {
  background-color: #2196f3;
}

.list .item:not(:last-child) {
  border-bottom: 1px solid #888;
}

.search-svg {
  height: 200px;
}
